In [45]:
hour = 7
talking = True

In [22]:
# We have a loud talking parrot. The "hour" parameter is the current hour time in the range 0..23. 
# We are in trouble if the parrot is talking and the hour is before 7 or after 20. 
# Return True if we are in trouble.
# trouble = True

def parrot_trouble(talking, hour):
    if 7 <= hour <= 20:
        return False
    else talking:
        return True

SyntaxError: invalid syntax (<ipython-input-22-5262e15edf98>, line 9)

In [51]:
hour = 6
talking = True

def parrot_trouble(talking, hour):
 return (talking and (hour < 7 or hour > 20))

parrot_trouble(talking, hour)

True

In [69]:
# Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.
a = 5
b = 5

def makes10(a,b):
 sum = a+b 
 if sum == 10 or a == 10 or b == 10:
  return True
 else:
  return False

makes10(a,b)

True

In [76]:
# Given 2 ints, a and b, return True if one if them is 10 or if their sum is 10.
a = 11
b = -1

def makes10(a,b): 
 return (a+b == 10 or a == 10 or b == 10)

makes10(a,b)

True

In [84]:
# Given an int n, return True if it is within 10 of 100 or 200. 
# Note: abs(num) computes the absolute value of a number.

def withinRange(n):
    return ((110 >= n >= 90) or (210 >= n >= 190))

print withinRange(93)
print withinRange(90)
print withinRange(89)
print withinRange(193)
print withinRange(190)
print withinRange(189)

True
True
False
True
True
False

In [85]:
abs(10-20)

10

In [87]:
abs(200-9)

191

In [92]:
def near_hundred(n):
  return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

near_hundred(209)

True

In [104]:
# Given 2 int values, return True if one is negative and one is positive. 
# Except if the parameter "negative" is True, then return True only if both are negative.


def pos_neg(a, b, negative):
   if negative:
    # return (a and b) < 0 # this one apparently fails the last test
    return (a < 0 and b < 0)
   else:
        return ((a < 0 and b > 0) or (a > 0 and b < 0))
        
    
print pos_neg(1, -1, False)
print pos_neg(-1, 1, False)
print pos_neg(-4, -5, True)
print pos_neg(-4, 5, True)  
print pos_neg(1, -1, True) # test failed with return (a and b) < 0 # I don't know why

True
True
True
False
False

In [ ]:
# http://codingbat.com/prob/p189441
# Given a string, return a new string where "not " has been added to the front. 
# However, if the string already begins with "not", return the string unchanged. 

def not_string(str):

In [16]:
x = 0

while x < 10:
     print 'x is currently: ',x
     x += 1
    
if x==3:
    print 'Sup dog! x equals 3!'
break
else:
    print 'continuing...'
    continue

IndentationError: unexpected indent (<ipython-input-16-d7e2d5baadaa>, line 10)

In [18]:
x = 0

while x < 10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x+=1
    if x ==3:
        print 'Breaking because x==3'
        break
    else:
        print 'continuing...'
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [23]:
#range is up to, but not including
x = range(0,10)

#single numbers result in up to, but not including
range(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [24]:
type(x)

list

In [25]:
start = 5
stop = 20

range(start,stop)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [26]:
# range(<start>,<stop>,Interval)
range(start,stop,2)

[5, 7, 9, 11, 13, 15, 17, 19]

In [27]:
#range (first thing, last thing, step size)

# in Python 2
# range() creates a list of values, stored in memory
# xrange() generates elements, but does not store them in memory

#in Python 3
# range() is already a generator, does not store in memory

In [28]:
l = [1,2,3,4,5]

In [29]:
l

[1, 2, 3, 4, 5]

In [32]:
#Break Continue Pass
x = 0

while x<10:
    print 'x is currently: ',x
    print ' x is still less than 10, adding 1 to x'
    x+=1
    
    if x==3:
        print 'Hey x equals 3!'
        break
    else:
        print 'continuing...'
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Hey x equals 3!

In [33]:
for num in xrange(1,10):
    print num

1
2
3
4
5
6
7
8
9

In [37]:
x = xrange(1,6)
x2 = range(1,6)

In [38]:
type(x)

list

In [39]:
type(x2)

list

In [41]:
x3 = list(x)

In [42]:
x3

[1, 2, 3, 4, 5]

#Comprehensions

In [45]:
l = []

for letter in 'word':
    l.append(letter)

print l

['w', 'o', 'r', 'd']

In [49]:
cheese = 'funkyfries'
l = [letter for letter in cheese]

In [50]:
l

['f', 'u', 'n', 'k', 'y', 'f', 'r', 'i', 'e', 's']

In [51]:
lst = [x**2 for x in range(0,11)]

In [53]:
lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [54]:
lst2 = []

for number in range(0,11):
    lst2.append(number**2)
    
print lst2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [55]:
lst3 = [number for number in range(11) if number % 2 == 0]

lst3

In [59]:
lst4 = []
for number in range(11):
    if number %2 == 0:
        lst4.append(number)

lst4

[0, 2, 4, 6, 8, 10]

In [61]:
celsius = [0,10,20.1,34.5]

fahrenheit = [ (temp * (9/5.0) + 32) for temp in celsius]

print 'celsius ',celsius
print 'fahrenheit ',fahrenheit

celsius  [0, 10, 20.1, 34.5]
fahrenheit  [32.0, 50.0, 68.18, 94.1]

In [62]:
# Final result is x**4 for num in range (11)

lst5 = [x**2 for x in [x**2 for x in range(11)]]

lst5

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [63]:
l = range(6)

In [64]:
l.append(6)

In [66]:
l.count(3)

1

In [67]:
help(l.count)

Help on built-in function count:

count(...)
    L.count(value) -> integer -- return number of occurrences of value

In [68]:
l.extend(range(2))

In [69]:
l

[0, 1, 2, 3, 4, 5, 6, 0, 1]

In [72]:
l.reverse()

In [73]:
l

[1, 0, 6, 5, 4, 3, 2, 1, 0]