In [1]:
x = set()

In [2]:
x

set()

In [3]:
x.add(1)

In [4]:
x

{1}

In [5]:
x.add(2)

In [6]:
x

{1, 2}

In [7]:
x.add(1)

In [8]:
x

{1, 2}

In [9]:
#set is only concerned with unique elements

In [10]:
l=[1,1,1,2,2,2,2,2,3,3,4]

In [11]:
l

[1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 4]

In [12]:
set(l)

{1, 2, 3, 4}

In [13]:
a = set([1,1,2,3])

In [14]:
a

{1, 2, 3}

In [55]:
a = 2
b = 2

In [49]:
def sum_double(a, b):
 sum = a + b
 return sum

In [42]:
sum_double(a,b)

In [48]:
def sum_double(a, b):
  sum = a + b
  return sum

In [53]:
def sum_double(a, b):
 sum = a+b
 if a == b:
  sum = sum*2
 return sum

In [56]:
sum_double(a,b)

8

In [21]:
print sum_double(a,b)

None